*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  height: 100vh;
  background-color: #DEDEDE;
}

.placement{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---Table*/
.table-container{
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 0 10px gray;
  padding: 20px;
  position: relative;
}

.table-container h1{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.table-container table{
  border-collapse: collapse; 
  background:#fbfafa;
  border-radius: 6px;
  overflow: hidden;
}

.table-container thead{
  background-color: #FFED86;
}

.table-container th{
  font-size: 1rem;
  padding: 10px;
}
.table-container table tbody tr{
  border-bottom: 1px solid #DEDEDE;
}

.table-container td{
  font-size: 1rem;
  padding: 5px;
}

/*---End of table---*/

/*---Pagination---*/

.pagenumbers{
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 0.8rem;
  padding:0;
  margin-bottom: 15px;
}

.pagenumbers li{
  align-self: center;
  padding: 8px;
  cursor: pointer; 
  border: 1px solid white;
}

.pagenumbers li.active{
  background-color: white;
  color: black;
}

.pagenumbers  button{
  background-color: transparent;
  color: white;
  padding: 8px;
  cursor: pointer;
  border: 1px solid white;
}

.pagenumbers button:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

.pagenumbers li button:focus{
  outline:none;
}
/*End of Pagination---*/

/*---Status---*/

.on{
  width: 70px;
  background-color: transparent;
  padding:5px;
  color: #10bc98;
  border: 1px solid #10bc98;
  cursor: pointer;
}
.off{
  width: 70px;
  background-color: transparent;
  padding:5px;
  color: #e84c3d;
  border: 1px solid #e84c3d;
  cursor: pointer;
}


/*---End of Status---*/

/*---Form---*/
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  height: 100%;
  background-color: #dededed0;
  position: absolute;
  top: 0%;
  left: 0%;

}

.form-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid beige;
  background-color: #fbfafa;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  
}

.form-box h1{
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.form-box div{
  width: 320px;
  margin: 10px 0 30px 0;
}

.form-box input{
  padding: 5px;
  width: 100%;
  margin-top: 10px;
}

.form-box p{
  font-weight: bold;
}


.status-box{
  display: flex;
  justify-content: space-between;
}

.status-box select{
  width: 100px;
  text-align: center;
}

.btn-container{
  display: flex;
  justify-content: center;
}

.btn-container button{
  padding: 10px 5px;
  width: 80px;
}

.btn-container :nth-child(1){
  margin-right: 30px;
}


/*---End of Form---*/
